.appModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;
    background: rgba(0, 0, 0, 0.4);
}

.appModal_open {
    opacity: 1;
    visibility: visible;
}

.appModalContent {
    max-width: 302px;
    padding: 25px 21px;
    background-color: #FFF;
    border-radius: 25px;
}

@media (max-width: 400px) {
    .appModalContent {
        max-width: 53.74vw;
        padding: 4.45vw 3.74vw;
        border-radius: 4.45vw;
    }
}