.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid rgba(144, 138, 155, 0.2);
    border-radius: 10px;
    transition: transform ease .4s;
}


.button:hover {
    transform: scale(1.05);
}

.buttonText {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(144, 138, 155, 0.8);
}

.buttonIcon {
    display: block;
    width: 18px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}