.button {
    padding: 10px 38px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #672EE3;
    border-radius: 10px;
    transition: all ease .4s;
}

.button:hover {
    transform: scale(1.05);
    background: #461E9C;
}